.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: relative; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
body{ background: #EDECEC; padding:50px}

th {
    cursor:pointer;
}
h2{
  
  color: #337ab7;
  font-family: 'Cormorant Garamond';
  border-bottom: 3px solid #e66c7e;
  font-size: 46px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 35px;
  margin-bottom: 57px;
  text-align: center;
  text-indent: 24px;
  text-transform: uppercase;  
}

html, body {
    max-width: 100%;
 
}

#filters{
  
}
.table { 
  width: 100% !important; 
}

.table{
  margin-left: auto !important;
}
.pagination{
  margin-left:500px !important;
  margin-top: -25px !important;
}

#wrap {
    color: #337ab7;
    float: left;
    display: inline-flex;
  margin-top: 30px;


}
#filter_button{
  margin-right: 20px;
  float: left;
  width: 100px;
}
  
#reset_button{
  float: right;
  width: 100px;
}
section {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
div#main {
  
    height: 50px;
    float: left;
    padding: 0px;
    margin-top: 100px;
}
div#third {
    margin-left: 15%;
    height: 300px;
}
div#second {
    float: left;
    clear: left;
    margin-top: 5px;
}
tr { 
  color: #337ab7; 
  font-weight: bold; 
}
td {
  
  color: #7b6868;
}
td, tr { 
  padding: 6px; 
  
  text-align: left; 
}

#calendar{
  float: left;
  display: inline-flex;
  margin-top: 100px;

  
}
#calendar1{
  
  float:left;
  margin-right: 20px;
}

#calendar2{
  
  float:right;
}



/*graf*/

#graph{
 
  margin-top: 350px;
  text-align: left;
  margin-left: 50px;
  width: 750px;
}

path {
  stroke-width: 3;
  fill: none;
  }

  .axis {
  shape-rendering: crispEdges;
  }

  .x.axis line {
  stroke: grey;
  }

  .x.axis .minor {
  stroke-opacity: .5;
  }

  .x.axis path {
  display: none;
  }

  .y.axis line, .y.axis path {
  fill: none;
  stroke: grey;
}

