<!DOCTYPE html>
<html lang="en" ng-app="sensorNetwork" ng-controller="getSensorData as snData" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>Sensor data</title>
    
    <link href='fonts_css.css' rel='stylesheet' type='text/css'>
    
    <link href="style.css" rel="stylesheet" type='text/css'>

    <!-- bower:css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-datetimepicker.min.css">
    <!-- endinject -->

    <script type="text/javascript">
        function dodajVarUJS(sentData) {
            selectedSensorIdAng = angular.element(document.querySelector('[ng-controller="getSensorData as snData"]')).scope().selectedSensorId;
            myData = sentData;
            pripremiGraf(myData, selectedSensorIdAng);
        }

        function pripremiGraf(myData, selectedSensorIdAng) {
            $("#graf1").html("").hide();
            $("#graf2").html("").hide();
            $("#graf3").html("").hide();
            $("#graf4").html("").hide();
            $("#graf5").html("").hide();


            var timestamps = [];
            var temperatures = [];
            var humidities = [];
            var distances = [];
            var radians = [];
            var cpuTemperatures = [];
            $.each(myData, function (i, item) {
                var jsondata = JSON.parse(item.data);
                if (item.sensorType == 'dht22') {
                    temperatures.push(jsondata.temperature);
                    humidities.push(jsondata.humidity);
                }
                if (item.sensorType == 'hcsr04') {
                    distances.push(jsondata.distance);
                }
                if (item.sensorType == 'slm393') {
                	radians.push(jsondata.rad);
                }
                if (item.sensorType == 'rpi') {
                    cpuTemperatures.push(jsondata.CPUTemperature);
                }
                timestamps.push(item.timestamp);
            });

            if(selectedSensorIdAng!="All sensor IDs"){
           
                if (temperatures.length > 1) {
                    crtajGraf("graf1", timestamps, temperatures);
                    $("#graf1").show();
                    distances = 0;
                    radians = 0;
                }
                if (humidities.length > 1) {
                    crtajGraf("graf2", timestamps, humidities);
                    $("#graf2").show();
                    distances = 0;
                    radians = 0;
                }
                if (distances.length > 1) {
                    crtajGraf("graf3", timestamps, distances);
                    $("#graf3").show();
                    temperatures = 0;
                    humidities = 0;
                    radians = 0;

                }
                if (radians.length > 1) {
                    crtajGraf("graf4", timestamps, radians);
                    $("#graf4").show();
                    distances = 0;
                    temperatures = 0;
                    humidities = 0;
                }
                if (cpuTemperatures.length > 1) {
                    crtajGraf("graf5", timestamps, cpuTemperatures);
                    $("#graf5").show();
                    distances = 0;
                    temperatures = 0;
                    humidities = 0;
                }
            }

        }

        function crtajGraf(selector, xs, ys) {
            graf = document.getElementById(selector);
            Plotly.newPlot(graf, [{
                x: xs,
                y: ys
            }], {
                margin: {t: 0}
            });
        }
    </script>

<body>

<div>
    <h2>Sensor data</h2>

    <div id="main">
        <br>
        <br>
        <div id="filters" style="margin-left: 70px;">
            <div id="first" ng-show="snData.sensorIds">
            	<p>Filter by sensor ID:</p>
                <select ng-model="selectedSensorId">
                    <option ng-repeat="id in snData.sensorIds" value="{{id}}">{{id}}</option>
                </select>
                <br>
            </div>
            <div id="second" ng-show="snData.sensorTypes" style="margin-left: 5px;">
            	<p>Filter by sensor type:</p>
                <select ng-model="selectedSensorType" ng-disabled="selectedSensorId!='All sensor IDs'">
                    <option ng-if="selectedSensorId!='All sensor IDs'" disabled selected>{{filtered[0]["sensorType"]}}</option>
                    <option ng-repeat="type in snData.sensorTypes" value="{{type}}">{{type}}</option>
                </select>
                <br>
            </div>
        </div>

        <br>
        <div id="wrap" style="margin-left: 40px;">
            <div style="margin-left: inherit;">
                <button ng-click="snData.resetFilters()" class="dropbtn" id="reset_button">
                    Reset filters
                </button>
            </div>
        </div>
        <br>
    </div>

    <div id="third" ng-if="sensorData.length > 0">
        <br>
        <h3></h3><br>
        <div id="third">
            <table class="table table-striped table-hover">
                <th ng-click="snData.sort('id')">ID</th>
                <th ng-click="snData.sort('sensorID')">Sensor ID</th>
                <th ng-click="snData.sort('sensorType')">Sensor Type</th>
                <th ng-click="snData.sort('timestamp')">Timestamp</th>
                <th ng-click="snData.sort('deviceId')">Device ID</th>
                <th ng-click="snData.sort('data')">Data</th>

                <tr dir-paginate="item in $parent.filtered = (sensorData | filterBySensorId : selectedSensorId | filterBySensorType : selectedSensorType : selectedSensorId | filterByDate : snData.dateFrom : snData.dateTo) |itemsPerPage:5 |orderBy:snData.sortKey:snData.reverse">

                    <td>{{item.id}}</td>
                    <td>{{item.sensorID}}</td>
                    <td>{{item.sensorType}}</td>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.deviceID}}</td>
                    <td>{{item.data}}</td>
                </tr>

            </table>
        </div>

        <dir-pagination-controls
                max-size="7"
                direction-links="true"
                boundary-links="true">
        </dir-pagination-controls>

        <div id="graf1" style="width:600px;height:350px;margin-left: 175px; padding-top: 50px; margin-top:50px"></div>
        <div id="graf2" style="width:600px;height:350px;margin-left: 175px; padding-top: 50px; margin-top:50px"></div>
        <div id="graf3" style="width:600px;height:350px;margin-left: 175px; padding-top: 50px; margin-top:50px"></div>
        <div id="graf4" style="width:600px;height:350px;margin-left: 175px; padding-top: 50px; margin-top:50px"></div>
        <div id="graf5" style="width:600px;height:350px;margin-left: 175px; padding-top: 50px; margin-top:50px"></div>

    </div>

    <div id="calendar">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group" datetimepicker
                         on-change="snData.update(snData.dateFrom, snData.dateTo)"
                         ng-model="snData.dateFrom" options="snData.optionsFrom">
                        <input class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group" datetimepicker
                         on-change="snData.update(snData.dateFrom, snData.dateTo)"
                         ng-model="snData.dateTo" options="snData.optionsTo">
                        <input class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <!-- bower:js -->
    <script src="jquery-2.2.4.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="bootstrap-datetimepicker.min.js"></script>
    <!-- endinject -->
    <script src="angular-eonasdan-datetimepicker.min.js"></script>
    <script src="plotly-latest.min.js"></script>
    <script src="angularTable.js"></script>
    <script src="dirPagination.js"></script>
</div>

</body>
</html>